WELCOME_MSG = "DB Server has been started"

SQL_ACCOUNT = "${MYSQL_HOST} ${MYSQL_DB_ACCOUNT} ${MYSQL_USER} ${MYSQL_PASSWORD} ${MYSQL_PORT}"
SQL_COMMON  = "${MYSQL_HOST} ${MYSQL_DB_COMMON} ${MYSQL_USER} ${MYSQL_PASSWORD} ${MYSQL_PORT}"
SQL_PLAYER  = "${MYSQL_HOST} ${MYSQL_DB_PLAYER} ${MYSQL_USER} ${MYSQL_PASSWORD} ${MYSQL_PORT}"

TABLE_POSTFIX = ""

BIND_PORT                 = ${DB_PORT}
DB_SLEEP_MSEC             = 10
CLIENT_HEART_FPS          = 10
HASH_PLAYER_LIFE_SEC      = 600
BACKUP_LIMIT_SEC          = 3600
PLAYER_ID_START           = 100
PLAYER_DELETE_LEVEL_LIMIT = 70

ITEM_ID_RANGE = 10000001 20000000
TEST_SERVER = ${TEST_SERVER}
